#map { 
  height: 600px; 
  left: 0;
  position: absolute;
  width: 100%;
}



.blinking {
  -webkit-animation: fade 0.5s infinite alternate;
  animation: fade 0.5s infinite alternate;
  opacity: 0;
}

.stop {

}

@-webkit-keyframes fade {
  50% { opacity: 1; }
}

@keyframes fade {
  50% { opacity: 1; }
}